@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary pt-3"
     aria-label="Bethany's Pie Shop navigation header">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <h3 class="navbar-brand">Blazor Learning </h3>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="nav-link">
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid h-100">
    <div class="row h-100">
        <NavMenu></NavMenu>
        <div id="page-content-wrapper">
            @Body
        </div>
    </div>
</div>
